body {
    background-image: url(./img/svg/fondo1\ 2.svg);
    background-size: 100%;
    margin: 0%;
    padding: 0%;
}


/* Encabezado */

.logo {
    display: block;
    margin: auto;
}

#contenedorLiga {
    display: block;
    margin: auto;
    padding: 2%;
}

#titulo {
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: aliceblue;
}

#bienvenida {
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: aliceblue
}

a {
    cursor: pointer;
}


/* Contenedor Home */

.pantallaHome {
    padding: 1%;
    margin: 1%;
}

#textoBtnPersonajes {
    display: inline-flex;
    align-content: center;
}

#textoBtnEpisodios {
    display: inline-flex;
    align-content: center;
}

#textoBtnLocaciones {
    display: inline-flex;
    align-content: center;
}

#conocePersonajes {
    margin: auto;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: aliceblue
}

.tituloBoton {
    margin: auto;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: aliceblue
}

#ligaNeflix {
    display: block;
    margin: auto;
}


/* Historia de usuario personajes */

#tituloPersonajes {
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: aliceblue;
}

#contenedorPersonajes {
    align-items: center;
}

.cards {
    background-color: grey;
    padding: 1em;
    margin: 2%;
    border-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: rgb(8, 8, 8);
}

.fotoPersonaje img {
    margin: auto;
}

.datos {
    margin: 5%;
    padding: 3%;
}

#redes {
    background-color: grey;
    border-radius: 2%;
    display: inline-block;
    text-align: center;
    margin-left: 95%;
}

footer {
    background-color: grey;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 0.5%;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: rgb(5, 5, 5)
}

@media screen and (min-width: 768px) {
    .pantallaHome {
        display: flex;
        justify-content: center;
        flex-flow: row;
    }
    #contenedorPersonajes {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 4%;
        margin-right: 4%;
    }
    .datos {
        display: block;
        flex-direction: column;
        text-align: left;
    }
}